.jumbotron {
	background: #fff;
}
h1, h2 {
	text-align: center;
	font-family: 'comic sans ms';
}

h2 {
	text-transform: uppercase;
	margin-bottom: 1.5em;
}

.heading {
	color: #808080;
	text-transform: lowercase;
}

.progress-bar {
	background: #000;
}

.list-unstyled li {
    margin-bottom: 5em;
}

.skills-content {
	margin-left: 3em;
}